<!DOCTYPE html>
<html>
	<head>
	<title>All</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/FileSaver.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
	<a href="/">Home</a>
	<a href="/all">All</a>
	<ul class="list-group">
	<% for(var i = 0; i < prints.length; i++) { %>
		<% var print = prints[i] %>
		
		<li class="list-group-item">
			<a href="/download/<%= print._id %>"><%= print.title %></a>
			<span class="badge"><%= print.originalFileNames.length + ' files.' %></span>
		</li>
	<% } %>
	</ul>
	</body>
</html>
